:root {
    --white: #ffffff;
    --black: #000000;

    --blue: #05E0E9;
    --pink: #FF2768;
    --yellow: #FFD53D;
}

body {
    background-color: var(--white);
    color: var(--white);
    font-family: Poppins, sans-serif;
}

.darkMode {
    background-color: var(--black);
}

.darkMode .switch {
    border-color: var(--white);
    color: var(--white);
}

.switch {
    background: none;

    border: 2px solid var(--black);
    border-radius: 5px;

    font-family: Poppins, sans-serif;
    color: var(--black);

    height: 30px;

    margin: 30px 20px 0;
}

.switch:hover {
    cursor: pointer;
}

.container {
    width: 80%;
    max-width: 940px;
    height: calc(100vh - 60px);

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time {
    width: 32%;
    height: calc(0.32 * 940px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    padding: 2%;
}

.hours {
    background-color: var(--blue);
}

.minutes {
    background-color: var(--pink);
}

.seconds {
    background-color: var(--yellow);
}

.timeDisplay {
    font-weight: 600;
    font-size: 100px;
}

.timeNameDisplay {
    font-weight: 500;
    font-size: 30px;
}

@media screen and (min-width:320px) and (max-width: 480px){
    body {
        display: flex;
        flex-direction: column;
    }
    
    .switch {
        height: 30px;
    
        margin: 0 auto 20px;
    }

    .container {
        width: 75%;
        height: calc(100vh - 50px);
    
        order: -1;
        
        margin: 0 auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .time {
        width: 100%;
        height: 27%;
    
        flex-direction: column;
        justify-content: space-evenly;

    }

    .timeDisplay {
        font-size: 80px;
    }
    
    .timeNameDisplay {
        font-size: 20px;
    }
}
